"*":
  "autocomplete-python":
    useKite: false
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 11
  "exception-reporting":
    userId: "fc86682d-56cf-039b-067c-b246bfdcc993"
  welcome:
    showOnStartup: false
".plain.text":
  editor:
    softWrap: true
